[[stack]]
name = "blocky"
[stack.config]
server = "MS01"
linked_repo = "MarioGK/Homelab"

links = ["dns.homelab"]
poll_for_updates = true
auto_update = true
auto_update_all_services = true
run_directory = "composes/blocky/"
config_files = [
  { path = "config.yml", services = ["blocky"], requires = "Restart" }
]

environment = """
## Required

TZ = "America/Sao_Paulo"
"""

[[variable]]
name = "TZ"
value = "America/Sao_Paulo"
is_secret = false

[[provision]]
name = "pre_deploy"
[provision.config]
commands = [
    # Ensure blocky config dir exists
    "mkdir /mnt/ssd/configs/blocky/config",
    "mkdir /mnt/ssd/configs/blocky/hosts",
]
