[[stack]]
name = "home-assistant"
[stack.config]
server = "MS01"
linked_repo = "MarioGK/Homelab"

links = ["home.mariogk.com"]
poll_for_updates = true
auto_update = true
auto_update_all_services = true
run_directory = "composes/home-assistant/"

environment = """
## Required

## Timezone (must be America/Sao_Paulo)
TZ = "America/Sao_Paulo"

## Optional: set Home Assistant specific env vars here
#PUID=1000
#PGID=1000
"""

[[variable]]
name = "TZ"
value = "America/Sao_Paulo"
is_secret = false

[[provision]]
name = "pre_deploy"
[provision.config]
commands = [
	"mkdir /mnt/ssd/home-assistant/config"
]
