[[stack]]
name = "portracker"
[stack.config]
server = "MS01"
linked_repo = "MarioGK/Homelab"

poll_for_updates = true
auto_update = true
auto_update_all_services = true
run_directory = "composes/portracker/"

environment = """
## Required

TZ = "America/Sao_Paulo"
"""

[[variable]]
name = "TZ"
value = "America/Sao_Paulo"
is_secret = false

[[provision]]
name = "pre_deploy"
[provision.config]
commands = [
  # Create config dir for portracker
  "mkdir /mnt/ssd/configs/portracker/data",
]
