[[stack]]
name = "servarr"
[stack.config]
server = "MS01"
linked_repo = "MarioGK/Homelab"

links = ["media.mariogk.com"]
poll_for_updates = true
auto_update = true
auto_update_all_services = true
run_directory = "composes/servarr/"

environment = """
## Required

## Timezone (must be America/Sao_Paulo)
TZ = "America/Sao_Paulo"

## Optional: set service-specific env vars here
#PUID=1000
#PGID=1000
"""

[[variable]]
name = "TZ"
value = "America/Sao_Paulo"
is_secret = false

[[provision]]
name = "pre_deploy"
[provision.config]
commands = [
	# Create base configs dir
	"mkdir /mnt/ssd/configs/lazylibrarian/data",
	"mkdir /mnt/ssd/configs/sonarr",
	"mkdir /mnt/ssd/configs/radarr",
	"mkdir /mnt/ssd/configs/lidarr/config",
	"mkdir /mnt/ssd/configs/bazarr",
	"mkdir /mnt/ssd/configs/qbittorrent",
	"mkdir /mnt/ssd/configs/slskd",
	"mkdir /mnt/ssd/configs/prowlarr",
	"mkdir /mnt/ssd/configs/sabnzbd/config",
	"mkdir /mnt/ssd/configs/tdarr/server",
	"mkdir /mnt/ssd/configs/tdarr/config",
	"mkdir /mnt/ssd/configs/unpackerr",
	"mkdir /mnt/ssd/configs/jellyseerr",
	"mkdir /mnt/ssd/configs/qbitmanage/config",
	"mkdir /mnt/ssd/configs/jellyfin/config",
	"mkdir /mnt/ssd/configs/jellyfin/cache",
	"mkdir /mnt/ssd/configs/calibre-web/data",
]
